html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f8fb;
  text-align: center;
  color: #000;
  margin: 0;
  padding: 2rem;
}

form {
  width: 100%;
  margin: 0;
}

label {
  display: block;
  font-weight: bold;
  margin: 1rem 0;
}

input {
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  line-height: 1.5;
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 1px solid #a6afbd;
  border-radius: 4px;
  margin: 1rem 0;
}

input:focus {
  outline-color: #0000ff;
}

button {
  color: #fff;
  padding: 0.15rem 0.5rem;
  background: #0000ff;
  border: 2px solid #0000d4;
  border-radius: 4px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

button:active {
  background: #0000d4;
}
